.pagina-var-estado {

    .Container{

        display: flex;
        gap: 15px;
        align-items: center;
        flex-direction: row;

        button{
            padding: 10px 18px;
        }

        
    }

     .a{
            justify-content: center;
            display: flex;
            margin: 10px;
            width: 22%;

        }


}

