.pagina-contato{

    text-align: center;

    .cabecalho{

        display: flex;

        align-items: center;

        justify-content: space-between;

    }

    .foto{

    width: 60px;

}

.voltar{

    font-size: 40px;

}
    
}

